body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form {
  background-color: crimson;
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 1cm;
  align-items: center;
}

input {
  padding: 0.30cm;
  text-align: center;
}

select {
 margin: 25px;
 padding: 0.10cm;
}

button {
  text-align: center;
  margin: 0.3cm;
  padding: 0.30cm;
  cursor: pointer;
  box-shadow: 0.10cm 0.10cm;
}

h3 {
  background-color: white;
  padding: 0.10cm;
  border-radius: 0.25cm;
}